<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Inventory/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Check Out Products page</title>
</head>
<body>
	<section>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col" th:each="p:${checkOutProducts}">

				<div class="card h-100">

					<!-- 					<a style="text-decoration: none;" th:href="@{/Library/member-books(id=${b.studentsId.id})}"> -->
					<div class="text-center" style="margin-top: 3%">
						<img th:src="@{/images/Bus.png}" class="card-img-top text-center"
							style="width: 50%; height: 100%;" alt="...">
					</div>
					<div class="card-body">
						<input type="hidden" id="busId" />
						<h5 class="card-title text-center"
							th:text="${'Product Name: '+p.productsid.productName}">Card
							title</h5>
							<p class="card-text text-center"
							th:text="${'Selling Quantity: '+p.sellingQuantity}">Number</p>
							<p class="card-text text-center"
							th:text="${'Total Buying Price: '+p.productsid.productPrice}">Number</p>
						<p class="card-text text-center"
							th:text="${'Selling Price: '+p.sellingPrice}">Number</p>
						
						<p class="card-text text-center"
							th:text="${'Supplier Name: '+p.customerName}">Number</p>
					</div>
					<div class="card-footer">
						
						

					</div>
				</div>
				<!-- 					</a> -->
			</div>



		</div>

		<div class="container text-center mt-3" th:if="${totalPages}>=1">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li th:if="${currentPage != 0}" class="page-item"><a
						th:href="@{/Inventory/checkout-products(page=${currentPage-1})}"
						class="page-link" href="#">Previous</a></li>
					<li th:classappend="${currentPage==i-1?'active':''}"
						th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a
						th:href="@{/Inventory/checkout-products(page=${i-1})}"
						class="page-link" href="#"><span th:text="${i}"></span></a></li>
					<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
						th:href="@{/Inventory/checkout-products(page=${currentPage+1})}"
						class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
		<div class="text-center mt-5" th:unless="${totalPages}>=1">
			<h2>There is No Bus Record Fund</h2>
		</div>

	</section>
</body>
</html>