<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Admission/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is Book page</title>
</head>
<body>
	<section>
	<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
				<p th:text="${session.message.content}"></p>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
		<div class="card">
		<div class="card-header">
		<div class="row">
						<!-- <div class="col-md-2 order-first border-success"><input type="button" id="addbtn" class=" border-success btnadd btn btn-outline-primary" data-bs-toggle="modal"
							data-bs-target="#addStudentFee" value="Add Fee" /></div> -->
						<div class="col border-success text-center" ><h3 class="border-success" >Teachers Record</h3></div>
						<div class="col-md-3 order-last ">
						 <input type="button" id="addbtn" data-bs-toggle="modal" data-bs-target="#addTeacher" class="border-success btnadd btn btn-outline-primary" value="Add Teacher Record" />
					 	</div>
					</div>
		</div>
		
		<div class="card-body" >
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col" th:each="t:${allTeacher}">
				<div class="card h-100">
					<div class="text-center" style="margin-top: 3%">
						<img th:src="@{/images/teacher.png}" class="card-img-top text-center"
							style="width: 50%; height: 80%;" alt="...">
					</div>
					<div class="card-body">
						<h5 class="card-title text-center" th:text="${'Name: '+t.name}" >Card title</h5>
						<h6 class="card-text text-center" th:text="${'Teacher S,NO: '+t.serialNo}"></h6>
						<p class="card-text text-center" th:text="${'Qualification: '+t.qualification}"></p>
						<!-- <p class="card-text text-center" th:text="${'Subject Code: '+s.subjectCode}"></p> -->
					</div>
					<div class="card-footer">
						<small class="text-muted" th:text="${'Issued Date: '+#dates.format(t.date, 'dd-MMM-yyyy')}">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
		</div>
		
		</div>
		</div>
		
		<div class="container text-center mt-3" th:if="${totalPages}>=1">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a
							th:href="@{/Admission/all-teachers(page=${currentPage-1})}"
							class="page-link" href="#">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a
							th:href="@{/Admission/all-teachers(page=${i-1})}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							th:href="@{/Admission/all-teachers(page=${currentPage+1})}"
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>
			<div class="text-center mt-5" th:unless="${totalPages}>=1">
				<h2>There is No Issue Book</h2>
			</div>
			
			
			
			<div class="myForm">

			<div class="modal fade" id="addTeacher" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Add Subject
								Records</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>

						<div class="modal-body">

							<div class="card">
								<div class="container card-header text-center">
									<h2>Subject Record</h2>
								</div>
								<div class="card-body">
									<form class="row g-3" action="#" method="POST"
										th:action="@{/Admission/submit-teacher}">										

										<div class="col-md-6">
											<label for="inputCity" class="form-label">Teacher Name</label>
											<input name="name" required type="text"
												class="form-control" id="inputCity">
										</div>

										
										
										<div class="col-md-6">
											<label for="inputCity" class="form-label">Serial Number</label>
											<input name="serialNo" required type="text"
												class="form-control" id="inputCity">
										</div>

										<div class="col-md-6">
											<label for="inputCity" class="form-label">Qualification</label>
											 <input name="qualification" required
												type="text" class="form-control" id="inputCity">
										</div>
										
										<div class="col-md-6">
											<label for="inputCity" class="form-label">Address</label> 
											<input name="address"
												type="text" class="form-control" id="inputCity">
										</div>
										
										<div class="col-md-6">
											<label for="inputCity" class="form-label">Contact Number</label> 
											<input name="contact"
												type="number" class="form-control" id="inputCity">
										</div>
										
										<div class="col-md-6">
											<label for="inputCity" class="form-label">Date </label> 
											<input name="date"
												type="date" class="form-control" id="inputCity">
										</div>


										<div class="col-12 text-center">
											<button type="submit" name="" class="btn btn-outline-primary">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</section>
</body>
</html>