<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="examination/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Exam Dashboard page</title>
</head>
<body>
	<section>
		<div class="row row-cols-1 row-cols-md-2 g-2">
			<div class="col" >
				<a style="text-decoration: none;"
					th:href="@{/examination/exam-new-list(page=0,exam='New Result')}">
					<div class="card"
						style="background-color: maroon; border-radius: 5%;">
						<div class="card-body text-center text-white mt-5 mb-5">
							<h5>Exam List</h5>
							<h5 class="card-title" >New Result</h5>
						</div>
					</div>
				</a>
			</div>
			
			<div class="col" >
				<a style="text-decoration: none;"
					th:href="@{/examination/exam-old-dash(page=0,exam='Old Result')}">
					<div class="card"
						style="background-color: maroon; border-radius: 5%;">
						<div class="card-body text-center text-white mt-5 mb-5">
							<h5>Exam List</h5>
							<h5 class="card-title" >Old Result</h5>
						</div>
					</div>
				</a>
			</div>
			
		</div>
	</section>	
</body>
</html>