<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="examination/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is Exam Old DashBoad page</title>
</head>
<body>
	<section>

		<div class="row row-cols-1 row-cols-md-3 g-3">
			<div class="col" th:each="b:${examOldList}">
				<a style="text-decoration: none;"
					th:href="@{/examination/exam-list(page=0,exam='Old Result',date=${b.listDate})}">
					<div class="card"
						style="background-color: maroon; border-radius: 5%;">
						<div class="card-body text-center text-white mt-5 mb-5">
							<h5>Old Result List Date</h5>
							<h5 class="card-title" th:text="${b.listDate}">Batch-17</h5>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="container text-center mt-3">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li th:if="${currentPage != 0}" class="page-item"><a
						th:href="@{/user/index(page=${currentPage-1})}" class="page-link"
						href="#">Previous</a></li>
					<li th:classappend="${currentPage==i-1?'active':''}"
						th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a
						th:href="@{/examination/index(page=${i-1})}" class="page-link" href="#"><span
							th:text="${i}"></span></a></li>
					<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
						th:href="@{/user/index(page=${currentPage+1})}" class="page-link"
						href="#">Next</a></li>
				</ul>
			</nav>
		</div>


	</section>
</body>
</html>