<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.5.1.js}"></script>

<!-- Bootstrap CSS -->
<!--     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="" th:href="@{/css/bootstrap.min.css}" />

<title>Document</title>
</head>
<body>

	<div class=" container text-center card">
		<h4>
			Seating Plan For <span th:text="${date}"></span> at <span
				th:text="${time}"></span> Papers: <span th:text="${firstPaper}"></span>
			/ <span th:text="${secondPaper}"></span>
		</h4>

		<h2>Hall</h2>
		<table class="table">
			<tbody>
				<div class="row row-cols-4 row-cols-md-4 g-4" >

					<div class="text-center">
						<h4>Row 1</h4>
					</div>
					<div class="text-center">
						<h4 >Row 2</h4>
					</div>
					<div class="text-center">
						<h4>Row 3</h4>
					</div>
					<div class="text-center">
						<h4>Row 4</h4>
					</div>

					<div class="col" th:each="s,count :${firstStudents}">

						<div class="text-center">
							<p style="font-size:80%;" th:text="${s.firstName}+' '+${s.lastName}+' ('+${s.rollNo}+')'">Batch-17</p>
						</div>
					</div>
				</div>
			</tbody>

		</table>
		<div class="divider"></div>
		
		<h2 class="mt-5">Room #17</h2>
		<table class="table">
			<tbody>
				<div class="row row-cols-4 row-cols-md-4 g-4" >

					<div class="text-center">
						<h4>Row 1</h4>
					</div>
					<div class="text-center">
						<h4 >Row 2</h4>
					</div>
					<div class="text-center">
						<h4>Row 3</h4>
					</div>
					<div class="text-center">
						<h4>Row 4</h4>
					</div>

					<div class="col" th:each="s:${firstStudents}">

						<div class="text-center">
							<p style="font-size:80%;" th:text="${s.firstName}+' '+${s.lastName}+' ('+${s.rollNo}+')'">Batch-17</p>
						</div>
					</div>
				</div>
			</tbody>

		</table>
		
	</div>
</body>
</html>