<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Accounting/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Welcom To SRH ERP</title>
</head>

<body>
	<section>
		<h1 class="text-center">Welcome To Accounting</h1>

		<div class="row row-cols-1 row-cols-md-2 g-2">
		<div class="col">
				<div class="card" style="background-color: maroon; border-radius: 5%;">
					<div class="card-body text-center text-white mt-5 mb-5">
						<h5>Total Gross Income</h5>
						<h5 class="card-title" th:text="${'Rs: '+grossIncome+'.0'}">New Result</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="background-color: maroon; border-radius: 5%;">
					<div class="card-body text-center text-white mt-5 mb-5">
						<h5>Total Net  Income</h5>
						<h5 class="card-title" th:text="${'Rs: '+netIcome+'.0'}">New Result</h5>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card" style="background-color: maroon; border-radius: 5%;">
					<div class="card-body text-center text-white mt-5 mb-5">
						<h5>Total Expenses</h5>
						<h5 class="card-title" th:text="${'Rs: '+totalExpenses+'.0'}">New Result</h5>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card" style="background-color: maroon; border-radius: 5%;">
					<div class="card-body text-center text-white mt-5 mb-5">
						<h5>Total Dues</h5>
						<h5 class="card-title" th:text="${'Rs: '+totalDues+'.0'}">New Result</h5>
					</div>
				</div>
			</div>
					

		</div>


	</section>
</body>

</html>